  <div class="row">
    <div class="col-md-12">
      <h1 ng-bind-html="'dashboard.overview' | translate"></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-success" type="button" ui-sref="orderCreate({order_id: 0})">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <span ng-bind-html="'dashboard.create_order' | translate"></span>
      </button>
      <br>
      <button class="btn btn-success" type="button" ui-sref="repairCreate({repair_id: 0})">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <span ng-bind-html="'dashboard.create_repair' | translate"></span>
      </button>
    </div>
  </div>
