<style type="text/css">
  body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #f48e39, #e16d0d);
    background: -moz-linear-gradient(right, #f48e39, #e16d0d);
    background: -o-linear-gradient(right, #f48e39, #e16d0d);
    background: linear-gradient(to left, #f48e39, #e16d0d);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .footer {
    border-top:0px;
  }
</style>

<div class="container-login">
  <div class="login-page">
    <div class="form">
      <form class="login-form" ng-submit="submit()" promise-btn>
        <input type="text" placeholder="username"/>
        <input type="password" placeholder="password"/>
        <select>
          <option>Zürich</option>
          <option>Zürich</option>
          <option>Zürich</option>
        </select>
        <button class="btn btn-primary" type="submit">login</button>
        <!--<p class="message">Not registered? <a href="#">Create an account</a></p>-->
      </form>
    </div>
  </div>
</div>
