<style type="text/css">
  body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #f48e39, #e16d0d);
    background: -moz-linear-gradient(right, #f48e39, #e16d0d);
    background: -o-linear-gradient(right, #f48e39, #e16d0d);
    background: linear-gradient(to left, #f48e39, #e16d0d);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .footer {
    border-top:0px;
  }
</style>

<div class="container-login">
  <div class="login-page">
    <div class="form">
      <form class="login-form" ng-submit="submit()" promise-btn>
        <alerts alerts="alerts"></alerts>
        <input type="text" ng-model="user.username" placeholder="{{'username' | translate}}" required/>
        <input type="password" ng-model="user.password" placeholder="{{'password' | translate}}" required/>
        <select ng-options="branch.name for branch in branches track by branch.id" ng-model="user.selectedBranch"></select>
        <button class="btn btn-primary" type="submit">{{'login' | translate}}</button>
      </form>
      {{selectedBranch}}
    </div>
  </div>
</div>
