<p class="error-message-input" ng-message="required">
  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
  This field is required
</p>

<p class="error-message-input" ng-message="minlength">
  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
  This field is too short
</p>

<p class="error-message-input" ng-message="maxlength">
  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
  This field is too long
</p>

<p class="error-message-input" ng-message="required">
  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
  This field is required
</p>

<p class="error-message-input" ng-message="email">
  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
  This needs to be a valid email
</p>
