.buttons-right {
  margin-top: 20px;
}

.map-tiles-box {
  text-align: center;
  border-bottom: 1px solid lightgray;
  margin: 5px;
  padding: 5px;
}

.map-tiles-size {
  height: 120px !important;
}

.map-tiles-wrapper {
  margin-left:15px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 450px;
}

.text-right {
  text-align: right;
}

.error-message-input {
  font-size: 8px;
  color: red;
  margin-bottom: -15px;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1570px;
  }
}

@media (min-width: 1800px) {
  .container {
    width: 1770px;
  }
}

@media (min-width: 2000px) {
  .container {
    width: 1970px;
  }
}

.showCallbackDet{
  min-height: 80vh;
}
