
<div ng-controller="QuoteCtrl as qtCtrl" >
  <div ng-hide="showCallbackDet">
    <div class="row">
      <div class="col-md-8">
        <h1 ng-bind-html="'Repair List' | translate"></h1>
      </div>
      <div class="col-md-4 buttons-right">
        <button class="btn btn-default pull-right" type="button" ng-bind-html="'repair.create' | translate" ui-sref="repairCreate()"></button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <table datatable="" dt-options="Quote.CQList.dtOptions" dt-columns="Quote.CQList.dtColumns" class="row-border hover"></table>
      </div>
    </div>
  </div>
  <md-content class="showCallbackDet" layout="row" layout-wrap ng-show="showCallbackDet">
    <div flex="50">
      <md-list flex>
         <md-subheader class="md-no-sticky">Quote Details</md-subheader>
         <md-list-item class="md-1-line">
           <div class="md-list-item-text" layout="column">
             <h4>Quote Id : {{Quote.RecItem.id | repair}}</h4>
           </div>
         </md-list-item>
         <md-list-item class="md-1-line">
           <div class="md-list-item-text" layout="column">
             <h4>Branch Name : {{Quote.RecItem.branch.name}}</h4>
           </div>
         </md-list-item>
         <md-list-item class="md-1-line">
           <div class="md-list-item-text" layout="column">
             <h4>Customer Name : {{Quote.RecItem.customer.first_name}} {{Quote.RecItem.customer.last_name}}</h4>
           </div>
         </md-list-item>
        <md-subheader class="md-no-sticky">Product Details</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="product in Quote.RecItem.products" ng-click="null">
          <div class="md-list-item-text" >
            <h4> {{ product.name }} </h4>
            <p> {{ product.quantity }} </p>
          </div>
          <span>${{product.price}}</soan>
        </md-list-item>
       </md-list>
    </div>
    <div flex="50">
      <md-list flex>
         <md-subheader class="md-no-sticky">Phone Details</md-subheader>
         <md-list-item class="md-2-line">
           <div class="md-list-item-text" layout="column">
             <h4>Model: {{Quote.RecItem.selection_params.device.value}}</h4>
             <p>IMEI: {{Quote.RecItem.selection_params.imei}}, Color: {{Quote.RecItem.selection_params.color.value}}, Capacity: {{Quote.RecItem.selection_params.capacity.value}}</p>
           </div>
         </md-list-item>
         <md-list-item class="md-2-line">
           <div class="md-list-item-text" layout="column">
             <h4>Device Health</h4>
             <p>External Impact: {{Quote.RecItem.device_health['externalImpact']['value']}}, Impact: {{Quote.RecItem.device_health['impact']['value']}}, Water Impact: {{Quote.RecItem.device_health['waterImpact']['value']}}</p>
           </div>
         </md-list-item>
         <md-list-item class="md-2-line">
           <div class="md-list-item-text" layout="column">
             <h4>{{'repair.note' | translate}} </h4>
             <p>{{Quote.RecItem.quote_description}}</p>
           </div>
         </md-list-item>
    </div>
    <div flex="100" layout="row" layout-align="center center">
      <md-button class="md-raised md-warn" ng-click="updateCallback()">Customer Reached</md-nutton>
    </div>
  </md-content>
</div>
