
<div ng-controller="QuoteCtrl as qtCtrl" >
  <div ng-hide="showCallbackDet">
    <div class="row">
      <div class="col-md-8">
        <h1 ng-bind-html="'Callback List' | translate"></h1>
      </div>
      <div class="col-md-4 buttons-right">
        <button class="btn btn-default pull-right" type="button" ng-bind-html="'quote.create' | translate" ui-sref="quoteCreate()"></button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <table datatable="" dt-options="Quote.CQList.dtOptions" dt-columns="Quote.CQList.dtColumns" class="row-border hover"></table>
      </div>
    </div>
  </div>
  <md-content class="showCallbackDet" layout="row" layout-wrap ng-show="showCallbackDet">
        <hr>
        <div flex="100" class="">
          <div class="col-md-12">
            <alerts alerts="alerts"></alerts>
          </div>
        </div>
        <div flex="50">
          <md-list flex>
             <md-subheader class="md-no-sticky">Quote Details</md-subheader>
             <md-list-item class="md-1-line">
               <div class="md-list-item-text" layout="column">
                 <h4>Quote Id : {{Quote.RecItem.id | quote}}</h4>
               </div>
             </md-list-item>
             <md-list-item class="md-1-line">
               <div class="md-list-item-text" layout="column">
                 <h4>Branch Name : {{Quote.RecItem.branch.name}}</h4>
               </div>
             </md-list-item>
             <md-list-item class="md-1-line">
               <div class="md-list-item-text" layout="column">
                 <h4>Customer Name : {{Quote.RecItem.customer.first_name}} {{Quote.RecItem.customer.last_name}}</h4>
               </div>
             </md-list-item>
             <md-list-item class="md-1-line">
               <div class="md-list-item-text" layout="column">
                 <h4>Notification Type : {{Quote.RecItem.notification.name}}({{Quote.RecItem.notification.value}})</h4>
               </div>
             </md-list-item>
            <md-subheader class="md-no-sticky">Product Details</md-subheader>
            <md-list-item class="md-2-line" ng-repeat="product in Quote.RecItem.products" ng-click="null">
              <div class="md-list-item-text" >
                <h4> {{ product.name }} </h4>
                <p> {{ product.quantity }} </p>
              </div>
              <span>${{product.price}}</soan>
            </md-list-item>
           </md-list>
        </div>
        <div flex="50">
          <md-list flex>
             <md-subheader class="md-no-sticky">Phone Details</md-subheader>
             <md-list-item class="md-2-line">
               <div class="md-list-item-text" layout="column">
                 <h4>Model: {{Quote.RecItem.selection_params.device.value}}</h4>
                 <p>IMEi: {{Quote.RecItem.selection_params.imei}}, Color: {{Quote.RecItem.selection_params.color.value}}, Capacity: {{Quote.RecItem.selection_params.capacity.value}}</p>
               </div>
             </md-list-item>
             <md-list-item class="md-2-line">
               <div class="md-list-item-text" layout="column">
                 <h4>Device Health</h4>
                 <p>External Impact: {{Quote.RecItem.device_health['externalImpact']['value']}}, Impact: {{Quote.RecItem.device_health['impact']['value']}}, Water Impact: {{Quote.RecItem.device_health['waterImpact']['value']}}</p>
               </div>
             </md-list-item>
             <md-list-item class="md-2-line">
               <div class="md-list-item-text" layout="column">
                 <h4>{{'quote.desc' | translate}} </h4>
                 <p>{{Quote.RecItem.quote_description}}</p>
               </div>
             </md-list-item>
             <md-list-item class="md-2-line">
               <div class="md-list-item-text" layout="column">
                 <h4>{{'quote.technicanNote' | translate}} </h4>
                 <p>{{Quote.RecItem.user_description}}</p>
               </div>
             </md-list-item>
             <md-list-item >
              <md-input-container flex="100">
                <label>Pickup Date/Time</label>
                <input class="form-control"
                   ng-model="pickupTime"
                   ng-model-options="{ updateOn: 'blur' }"
                   placeholder="Select pickup time..."
                   format="DD.MM.YYYY HH:mm"
                   moment-picker="pickupTime">
              </md-input-container>
             </md-list-item>
            <md-subheader class="md-no-sticky">Enter Quote Update</md-subheader>
             <md-list-item >
               <md-input-container flex="100">
                 <label>Quote Update</label>
                 <input required name="clientName" ng-model="Quote.RecItem.customer_description">
               </md-input-container>
             </md-list-item>
        </div>
        <div flex="100" layout="row" layout-align="center center">
          <md-button class="md-raised md-warn" ng-click="delineQuoteDet()">Decline</md-button>
          <md-button class="md-raised md-primary" ng-click="confirmQuoteDet()">Confirm</md-button>
        </div>
      </md-content>
</div>
