<div ng-controller="RepairCtrl" >
  <md-content class="" flex="100" layout="row" layout-wrap>
    <div flex="50">
      <md-list flex>
         <md-subheader class="md-no-sticky">Repair Details</md-subheader>
         <md-list-item class="md-1-line">
           <div class="md-list-item-text" layout="column">
             <h4>Repair Id : {{Repair.RecItem.id | repair}}</h4>
           </div>
         </md-list-item>
         <md-list-item class="md-1-line">
           <div class="md-list-item-text" layout="column">
             <h4>Branch Name : {{Repair.RecItem.branch.name}}</h4>
           </div>
         </md-list-item>
         <md-list-item class="md-1-line">
           <div class="md-list-item-text" layout="column">
             <h4>Customer Name : {{Repair.RecItem.customer.first_name}} {{Repair.RecItem.customer.last_name}}</h4>
           </div>
         </md-list-item>
        <md-subheader class="md-no-sticky">Product Details</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="product in Repair.RecItem.products" ng-click="null">
          <div class="md-list-item-text" >
            <h4> {{ product.name }} </h4>
            <p> {{ product.quantity }} </p>
          </div>
          <span>${{product.price}}</soan>
        </md-list-item>
       </md-list>
    </div>
    <div flex="50">
      <md-list flex>
         <md-subheader class="md-no-sticky">Phone Details</md-subheader>
         <md-list-item class="md-2-line">
           <div class="md-list-item-text" layout="column">
             <h4>Model: {{Repair.RecItem.selection_params.device.value}}</h4>
             <p>IMEi: {{Repair.RecItem.selection_params.imei}}, Color: {{Repair.RecItem.selection_params.color.value}}, Capacity: {{Repair.RecItem.selection_params.capacity.value}}</p>
           </div>
         </md-list-item>
         <md-list-item class="md-2-line">
           <div class="md-list-item-text" layout="column">
             <h4>Device Health</h4>
             <p>External Impact: {{Repair.RecItem.device_health['externalImpact']['value']}}, Impact: {{Repair.RecItem.device_health['impact']['value']}}, Water Impact: {{Repair.RecItem.device_health['waterImpact']['value']}}</p>
           </div>
         </md-list-item>
         <md-list-item class="md-2-line">
           <div class="md-list-item-text" layout="column">
             <h4>{{'repair.note' | translate}} </h4>
             <p>{{Repair.RecItem.repair_description}}</p>
           </div>
         </md-list-item>
         <md-list-item class="md-1-line">
           <div class="md-list-item-text" layout="column">
             <h4>Pickup Time: {{Repair.RecItem.pickup_time | date: 'dd.MM.yyyy HH:mm'}}</h4>
           </div>
         </md-list-item>
        <md-subheader class="md-no-sticky">Enter Repair Update</md-subheader>
         <md-list-item >
           <md-input-container flex="100">
             <label>Repair Update</label>
             <input required name="clientName" ng-model="Repair.RecItem.user_description">
           </md-input-container>
         </md-list-item>
    </div>
    <div flex="100" layout="row" layout-align="center center">
      <md-button class="md-raised md-warn" ng-click="updateRepairDet()">Update</md-nutton>
    </div>
  </md-content>
</div>
