
<div ng-controller="QuoteCtrl as rpCtrl" >
  <div class="row">
    <div class="col-md-8">
      <h1 ng-bind-html="'Completed Quote' | translate"></h1>
    </div>
    <div class="col-md-4 buttons-right">
      <button class="btn btn-default pull-right" type="button" ng-bind-html="'repair.create' | translate" ui-sref="quoteCreate()"></button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <table datatable="" dt-options="htable.dtOptions" dt-columns="htable.dtColumns" class="row-border hover"></table>
    </div>
  </div>
</div>
