<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>{{'order.product_name' | translate}}</th>
        <th class="text-right">{{'order.product_price' | translate}}</th>
        <th>{{'order.product_quantity' | translate}}</th>
        <th class="text-right">{{'order.product_total' | translate}}</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="p in productList.selected">
          <td>{{p.name}}</td>
          <td class="text-right">{{p.price | countryCurrency}}</td>
          <td>
            {{p.quantity}}
            <i class="fa fa-plus-circle" aria-hidden="true" ng-click="increment(p)"></i>
            <i class="fa fa-minus-circle" aria-hidden="true" ng-click="decrement(p)"></i>
          </td>
          <td class="text-right">{{(p.price | multiplication:p.quantity) | countryCurrency}}</td>
        </tr>
        <tr>
          <td colspan="2">{{'order.total' | translate}}</td>
          <td>{{totalAmount}}</td>
          <td class="text-right">{{total.beforeDiscount | countryCurrency}}</td>
        </tr>
        <tr ng-if="products.discount.value !== undefined">
          <td colspan="2">
            <button class="btn btn-default pull-left btn-xs" type="button" ng-click="addDiscount()">
              %
              <span ng-bind-html="'order.editDiscount' | translate"></span>
            </button>
          </td>
          <td ng-if="products.discount.discountTypeIsPercent" class="text-right">
            <span ng-bind-html="products.discount.value"></span>
            <span>%</span>
          </td>
          <td ng-if="!products.discount.discountTypeIsPercent"></td>
          <td class="text-right">
            <span>-</span>
            <span ng-bind-html="discountValue | countryCurrency"></span>
          </td>
        </tr>
        <tr>
          <td>{{'order.totalGross' | translate}}</td>
          <td colspan="2"></td>
          <td class="text-right">{{total.gross | countryCurrency}}</td>
        </tr>
        <tr ng-if="total.taxIncluded === 1">
          <td>
            <span ng-bind-html="'order.taxIncluded' | translate"></span>
            <span ng-bind-html="(total.taxAmount * 100)"></span>%
          </td>
          <td colspan="2"></td>
          <td class="text-right">{{total.tax | countryCurrency}}</td>
        </tr>
        <tr ng-if="total.taxIncluded !== 1">
          <td>
            <span ng-bind-html="'order.taxExcluded' | translate"></span>
            <span ng-bind-html="(total.taxAmount * 100)"></span>%
          </td>
          <td colspan="2"></td>
          <td class="text-right">{{total.tax | countryCurrency}}</td>
        </tr>
        <tr>
          <td>{{'order.totalNett' | translate}}</td>
          <td colspan="2"></td>
          <td class="text-right">{{total.nett | countryCurrency}}</td>
        </tr>
        <tr>
          <td ng-if="products.discount.value === undefined" ng-hide="hidesiscountopt" colspan="4">
            <button class="btn btn-default pull-right btn-xs" type="button" ng-click="addDiscount()">
              %
              <span ng-bind-html="'order.addDiscount' | translate"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
