<div class="row">
  <div class="col-md-8">
    <h1 ng-bind-html="'order.create' | translate"></h1>
  </div>
  <div class="col-md-4 buttons-right">
    <button class="btn btn-default pull-right" type="button" ng-bind-html="'order.start_over' | translate" ui-sref="startOver()"></button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8">
    <map-tiles product-groups="productGroups" products="products"></map-tiles>
    <hr>
    <product-list products="products"></product-list>
  </div>
</div>

