<div class="modal fade">
  <div class="modal-dialog big">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="dismissModal(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" ng-bind-html="'customer.editCustomer' | translate"></h4>
      </div>
      <div class="modal-body">
        <customer order="order" is-edit="true" customer="customer" customer-deleted="customerDeleted"></customer>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="dismissModal(false)" class="btn btn-default" data-dismiss="modal" ng-bind-html="'cancel' | translate"></button>
      </div>
    </div>
  </div>
</div>
