<form class="form-horizontal" name="form">
  <div class="row">
    <div class="col-md-8">
      <h1 ng-if="!isEdit" ng-bind-html="'user.create' | translate"></h1>
      <h1 ng-if="isEdit" ng-bind-html="'user.edit' | translate"></h1>
    </div>
    <div class="col-md-4 buttons-right">
      <button class="btn btn-default pull-right" type="button" ng-bind-html="'close' | translate" ui-sref="userOverview()"></button>
      <button ng-if="!userDeleted && isEdit" class="btn btn-danger pull-right margin-right20" type="button" ng-click="delete()" ng-bind-html="'delete' | translate"></button>
      <button ng-if="!userDeleted" class="btn btn-primary pull-right margin-right20" type="button" ng-click="save(form)" ng-bind-html="'save' | translate"></button>
    </div>
  </div>
  <hr>
  <div class="row">
    <alerts alerts="alerts"></alerts>
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-sm-4 control-label" for="first_name" ng-bind-html="'first_name' | translate"></label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="first_name" name="first_name" ng-model="user.first_name" ng-minlength="5" required>
          <div class="help-block" ng-messages="form.first_name.$error" ng-show="form.first_name.$touched">
            <div ng-messages-include="views/messages.html"></div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="last_name" ng-bind-html="'last_name' | translate"></label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="last_name" ng-model="user.last_name" ng-minlength="5" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="username" ng-bind-html="'username' | translate"></label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="username" ng-model="user.username" ng-minlength="4" required>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="email" ng-bind-html="'email' | translate"></label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="email" ng-model="user.email" required>
        </div>
      </div>
      <hr>
      <div class="checkbox" ng-if="isEdit" style="margin-left: 15px;margin-top: -20px;margin-bottom: 10px;">
        <label class="col-sm-offset-4 control-label">
          <input type="checkbox" ng-model="user.isUpdatePassword">
          <span ng-bind-html="'changePasswordOfUser' | translate"></span>
        </label>
      </div>
      <div ng-if="user.isUpdatePassword" class="form-group">
        <label class="col-sm-4 control-label" for="password" ng-bind-html="'password' | translate"></label>
        <div class="col-sm-8">
          <input type="password" class="form-control" id="password" ng-model="user.password">
        </div>
      </div>
      <div ng-if="user.isUpdatePassword" class="form-group">
        <label class="col-sm-4 control-label" for="password_retype" ng-bind-html="'password_retype' | translate"></label>
        <div class="col-sm-8">
          <input type="password" class="form-control" id="password_retype" ng-model="user.passwordRetype">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      {{user}}
    </div>
  </div>
</form>
